<section id="inicio">
    <div class="contenido">
        <header>
            <div class="contenido-header">
                <a href="#inicio"><h1>/MV/</h1></a>
                <nav id="nav">
                    <ul id="links">
                        <li><a href="#inicio">INICIO</a></li>
                        <li><a href="#sobremi">SOBRE MI</a></li>
                        <!--<li><a href="#servicios">SERVICIOS</a></li>-->
                        <li><a href="#portfolio">PORTAFOLIO</a></li>
                        <li><a href="#contacto">CONTACTO</a></li>
                    </ul>
                </nav>
                <!--BURGER-->
                <div id="icono-nav">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <!--ICONO REDES SOCIALES-->
                <div class="redes">
                    <a href="https://www.linkedin.com/in/marcos-villanueva-5b174820a/"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/marcvillanueva1/?hl=es-la"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://github.com/marcvillanueva1"><i class="fa-brands fa-github"></i></a>
                </div>
            </div>
        </header>
        <div class="presentacion">
            <p class="bienvenida"> Bienvenidos</p>
            <h2>Soy <span>Marcos Villanueva</span>, Desarrollador Web</h2>
            <p class="descripcion">Programador Web Full Stack</p>
            <a href="#portfolio">Ir a portafolio</a>
        </div>
    </div>
</section>