<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=+, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" 
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>PORTFOLIO MARC</title>
</head>
<body>
    <!--INICIO-->

    <section id="inicio">
        <div class="contenido">
            <header>
                <div class="contenido-header">
                    <a href="#inicio"><h1>/MV/</h1></a>
                    <nav id="nav">
                        <ul id="links">
                            <li><a href="#inicio">INICIO</a></li>
                            <li><a href="#sobremi">SOBRE MI</a></li>
                            <!--<li><a href="#servicios">SERVICIOS</a></li>-->
                            <li><a href="#portfolio">PORTAFOLIO</a></li>
                            <li><a href="#contacto">CONTACTO</a></li>
                        </ul>
                    </nav>
                    <!--BURGER-->
                    <div id="icono-nav">
                        <i class="fa-solid fa-bars"></i>
                    </div>
                    <!--ICONO REDES SOCIALES-->
                    <div class="redes">
                        <a href="https://www.linkedin.com/in/marcos-villanueva-5b174820a/"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="https://www.instagram.com/marcvillanueva1/?hl=es-la"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://github.com/marcvillanueva1"><i class="fa-brands fa-github"></i></a>
                    </div>
                </div>
            </header>
            <div class="presentacion">
                <p class="bienvenida"> Bienvenidos</p>
                <h2>Soy <span>Marcos Villanueva</span>, Desarrollador Web</h2>
                <p class="descripcion">Programador Web Full Stack</p>
                <a href="#portfolio">Ir a portafolio</a>
            </div>
        </div>
    </section>

    <!--SOBRE MI-->
    <section id="sobremi">
        <div class="contenedor-fotos">
            <img src="../public/img/IMG-20220221-WA0057.jpg" alt="">
        </div>
        <div class="sobremi">
            <p class="titulo-seccion">Sobre mí</p>
            <h2>Hola, Soy <span>Marcos Villanueva</span></h2>
            <h3>Desarrollador Web</h3>
            <p>Busco enfocarme en desarrollar una carrera profesional. Siendo mis principales objetivos seguir capacitándome y aprendiendo sobre el desarrollo de software.</p>
            <a href="#">Descargar CV</a>
        </div>
    </section>
    <!--SERVICIOS-->
    <section id="servicios">
        <h3 class="titulo-seccion">HABILIDADES</h3>
        <div class="fila">
            <div class="servicio">
                <span class="icono"><i class="fa-solid fa-code"></i></span>
                <h4>Diseño de Paginas Web</h4>
                <hr>
                <ul class="servicios-tag">
                    <li>Web</li>
                    <li>Graphic</li>
                    <li>SEO</li>
                </ul>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore sapiente non possimus, Lorem, ipsum dolor sit amet consectetur adipisi.</p>
            </div>
            <div class="servicio">
                <span class="icono"><i class="fa-solid fa-code"></i></span>
                <h4>Diseño de Paginas Web</h4>
                <hr>
                <ul class="servicios-tag">
                    <li>Web</li>
                    <li>Graphic</li>
                    <li>SEO</li>
                </ul>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore sapiente non possimus, Lorem, ipsum dolor sit amet consectetur adipisi.</p>
            </div>
            <div class="servicio">
                <span class="icono"><i class="fa-solid fa-code"></i></span>
                <h4>Diseño de Paginas Web</h4>
                <hr>
                <ul class="servicios-tag">
                    <li>Web</li>
                    <li>Graphic</li>
                    <li>SEO</li>
                </ul>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore sapiente non possimus, Lorem, ipsum dolor sit amet consectetur adipisi.</p>
            </div>
        </div>
        <div class="fila">
            <div class="servicio">
                <span class="icono"><i class="fa-solid fa-code"></i></span>
                <h4>Diseño de Paginas Web</h4>
                <hr>
                <ul class="servicios-tag">
                    <li>Web</li>
                    <li>Graphic</li>
                    <li>SEO</li>
                </ul>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore sapiente non possimus, Lorem, ipsum dolor sit amet consectetur adipisi.</p>
            </div>
            <div class="servicio">
                <span class="icono"><i class="fa-solid fa-code"></i></span>
                <h4>Diseño de Paginas Web</h4>
                <hr>
                <ul class="servicios-tag">
                    <li>Web</li>
                    <li>Graphic</li>
                    <li>SEO</li>
                </ul>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore sapiente non possimus, Lorem, ipsum dolor sit amet consectetur adipisi.</p>
            </div>
            <div class="servicio">
                <span class="icono"><i class="fa-solid fa-code"></i></span>
                <h4>Diseño de Paginas Web</h4>
                <hr>
                <ul class="servicios-tag">
                    <li>Web</li>
                    <li>Graphic</li>
                    <li>SEO</li>
                </ul>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore sapiente non possimus, Lorem, ipsum dolor sit amet consectetur adipisi.</p>
            </div>
        </div>
    </section>

    <!--HABILIDADES-->
    <div class="contenedor-skills" id="skills">
        <h3>HABILIDADES</h3>
        <div class="skill">
            <div class="info">
                <p><span class="lista"></span>HTML & CSS</p>
                <span class="porcentaje">90%</span>
            </div>
            <div class="barra">
                <div id="html" class="barra-progreso1"></div>
            </div>
        </div>

        <div class="skill">
            <div class="info">
                <p><span class="lista"></span>Javascript</p>
                <span class="porcentaje">90%</span>
            </div>
            <div class="barra">
                <div id="js" class="barra-progreso2"></div>
            </div>
        </div>

        <div class="skill">
            <div class="info">
                <p><span class="lista"></span>Base de datos</p>
                <span class="porcentaje">50%</span>
            </div>
            <div class="barra">
                <div id="bd" class="barra-progreso3"></div>
            </div>
        </div>

        <div class="skill">
            <div class="info">
                <p><span class="lista"></span>JAVA</p>
                <span class="porcentaje">30%</span>
            </div>
            <div class="barra">
                <div id="java" class="barra-progreso4"></div>
            </div>
        </div>
    </div>
    <!--PORTFOLIO-->
</body>
</html>